// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


table,
td {
    border: 1px solid black;
}
table{
    width: 100%;
    box-shadow: 10px 5px 5px rgba($color: black, $alpha: 0.2);
}
th,td{
    padding: 20px;
}
thead,
tfoot {
    background: linear-gradient(90deg,white,black);
    
    color: #fff;
}
